<div class="row">
    <div class="container">
        <dl>
            {{#each data}}
            <dd>id: {{id}}</dd>
            <dd>FirstName: {{fname}}</dd>
            <dd>LastName: {{lname}}</dd>
            <dd>Phone: {{tel}}</dd>
            <dd>Address: {{address}}</dd>
            <dd>City: {{city}}</dd>
            <dd>State: {{state}}</dd>
            <dd>Zip: {{zip}}</dd>
            <hr>
            {{/each}}
        </dl>
    </div>
</div>